
/*
Classes próprias
*/

.bg-white{background-color: white;}
.bg-green{background-color: #00897B;}
.bg-red{background-color: #E53935;}
.letter-white{color: #fafafa;}
.letter-green{color: #00897B;}
.ps{padding: 90px;}
.ps:hover{background: rgba(231, 76, 60,0.7); transition: 2s}
.vitrine{height: 90vh; margin-bottom: 30px;}
.vitrine-texto{margin-top: 120px;}
.vitrine-entre{margin: auto; width: 30%;}
.vitrine-entre a{text-decoration: none; padding: 10px; font-size: 1.5rem; margin-right: 15px;}
.vitrine-comecar{background-color: white; color: black; padding: 5px; border-radius: 10px;}
.vitrine-comecar:hover{background-color: #ecf0f1;color: black;}
.vitrine-cc{color: black;}
.vitrine-cc:hover{color: white;}
.prs{margin-bottom: 100px;}
.legenda-prova{display: none;}
.legenda-simulado{display: none}
.sobre{height: 70vh; color: white; font-size: 1.2rem;}
footer{height: 20vh; color: white; text-align: center;}
.direitos{margin-top: 50px;}
.sobre p{margin: auto; width: 50%;}
