/*
Login e Cadastro
*/

form {padding: 20px 20px 20px 20px;}
.formUsuario header {width: 100%;}
.formUsuario header h1 {border-left: 2px solid #F4511E; margin-top: 2px;}
.formUsuario {width: 25vw;}

@media only screen and (min-width : 512px) and (max-width: 1024px){
/* Styles */
	.formUsuario {width: 50vw;}
}

@media only screen and (max-width : 500px) {
/* Styles */
	.formUsuario {width: 90vw;}
}

 


/* The Overlay (background) */
.overlay {
	/* Height & width depends on how you want to reveal the overlay (see JS below) */    
	height: 100%;
	width: 100%;
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	right: 0;
	top: 0;
	background-color: #00897b; /* Green */
	transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.over-content {
	position: relative;
	top: 15%; /* 25% from the top */
	width: 100%; /* 100% width */
	text-align: center; /* Centered text/links */
	margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
	padding: 8px;
	text-decoration: none;
	font-size: 36px;
	color: #818181;
	display: block; /* Display block instead of inline */
	transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
	color: #DC3545;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
	.overlay a {font-size: 20px}
	.overlay .closebtn {
		font-size: 40px;
		top: 15px;
		right: 35px;
	}
}



.formUsuario a {font-size: 1rem; display: inline-block; color: #00897B;}



/*
Sobrescrevendo bootstrap
*/

.btn-outline-danger:hover {background-color: #F44336; transition: 1s;}
