/* EFEITO CANVAS-MENU 
--------------------------*/

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 250px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #16a085; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    margin-left: 250px;
    margin-right: 250px;
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }




  /* ALTERAÇÕES
  ------------------- */
*{overflow-x: hidden;}
#main{overflow-x: hidden;}
#btn-open {font-size: 30px; cursor: pointer;}
.sair{bottom: 25px; position: absolute; width: 100%;}
.nav-header{margin-left: 20px;}
.nav-list{margin-top: 20px;}
.nav-list a{font-size: 1.2rem;}
.nav-item{padding-top: 20vh;}
.nav-item:hover{background-color: #0f8069; transition: 1s}

.mycontainer{
    margin: auto;
    width: 70%;
    float: left;
}



/* PROVAS - USUÁRIO
------------------------------ */
.prova-caixa{padding: 20px 0px 0px 0px; margin-right: 10px;  display: inline-block; background-color:#16a085; border-radius: 15px 20px 5px 5px; position: relative; width: 20%;}
.prova-caixadois{padding: 20px 0px 0px 0px; margin-right: 10px;  display: inline-block; background-color:#40c9c9; border-radius: 15px 20px 5px 5px; position: relative; width: 10%;}
.prova-info{padding: 10px; height: 150px; overflow: hidden;}
.prova-info span{color: white;}
.prova-info i{width: 100%; color: #0f8069}
.prova-acesso{background-color: #0f8069; bottom: 0; text-align: center;}
.prova-acesso a{text-decoration: none;  color: white; display: block; padding: 10px;}
.prova-acesso a:hover{text-decoration: none; background-color: #09493c; transition: 1.2s}
.prova-icon{font-size: 3rem; padding: 0px 10px 10px 10px;}



/* PROVAS - ADMINISTRADOR
------------------------------- */
.myform{margin-bottom: 20px; width: 60vw;}


/* RESOLVER PROVA
------------------------------- */

.tabs{border: 1px solid gray; border-radius: 20px;}
.tabs ul{margin-top: 20px;}
.tab-content{border: 1px solid black; margin-top: 20px; padding: 20px; width: 100%}
.numero{display: block; padding: 10px; margin-bottom: 10px;}
.enunciado{border: 1px solid grey; border-radius: 10px; padding: 10px; margin-left: 10px; display: block;}
.alternativas{margin-left: 10px; margin-top: 10px; margin-bottom: 10px;}
.alternativas .alternativa{display: block; margin-bottom: 10px;}
.btn-responder{display: inline-block; margin-right: 10px; margin-top: 10px;}
.alternativa span{margin-left: 10px;}
.prova-corpo2{display: none;}