*{box-sizing: border-box;}
ul li{list-style: none;}
a{text-decoration: none;} 

.tab-questao{display: none;}
.tab-item{background-color: rgb(255, 255, 255); padding: 10px; display: inline-block;}
.tab-item:hover{cursor: pointer;}
.tab-item-link{color: white; text-decoration: none;}
.tab-item-link:hover{text-decoration: none; color: white;}
.active{background-color:#0f8069; color: white;}
.show{display: block;}

#btn-finalizar{visibility: hidden;}